.site-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: orange;
  padding: 1em;

  @include breakpoint(medium) {
    flex-direction: row;
  }
}

.site-navigation {
  @include breakpoint(medium) {
    margin-left: auto;
  }
}

.site-navigation-list {
  @include reset-list;
  display: flex;

  li {
    font-size: .875em;
    padding: .5em;
    text-transform: uppercase;
  }

  a {
    color: #fff;
  }
}

.site-logo {
  color: color('white');
  font-family: 'Pacifico';
  font-size: 2em;
  line-height: 1;
  padding: 0 .25em .25em .25em;
  margin-bottom: .25em;

  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}
