.posts-container {
  margin: 0 auto 2.5em auto;
  background: #eee;
  padding: 2.5em .9375em;
}

.posts-container-title {
  font-size: 1.75em;
  margin-bottom: 1.25em;
}


.post-item {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: color('white');
  margin-bottom: 1.25em;
}

.post-img {
  background: linear-gradient(to right, rgba(0,0,0,.2), rgba(0,0,0,.9)), url('../../img/post-1.jpeg') center / cover no-repeat #000;
  height: 300px;

  &.last {
    background: linear-gradient(to right, rgba(0,0,0,.2), rgba(0,0,0,.9)), url('../../img/post-2.jpeg') center / cover no-repeat #000;
  }
}

.post-title {
  font-size: 1.75em;
}

.post-content {
  padding: .9375em;

  @include breakpoint(medium) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
