.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-img {
  flex: 1 0 auto;

  img {
    border-radius: 50%;
  }
}

.testimonial-name {
  padding-left: 1.25em;
}
