////////////////////////////////////////////////////////////////////////////////
// Color palette function
////////////////////////////////////////////////////////////////////////////////

$colors: (
	'green': (
		base: #41B883,
	),
	'black': (
		base: #1b2433,
		trans: transparentize(#000, .3)
	),
	'white': (
		base: #fff,
	),
);

@function color($color-name, $tone: base) {
	@return map-get(map-get($colors, $color-name), $tone);
}

//usage
// a {
//   color: color('grey', 'dark');
// }
