.site-header {
	display: flex;
	align-items: center;
	flex-direction: column;

	@include larger-than(medium) {
		flex-direction: row;
	}
}

.site-navigation {
	@include larger-than(medium) {
		margin-left: auto;
	}
}

.site-navigation-list {
	display: flex;
}
