.posts-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.post-item {
	margin-bottom: 1em;
	width: calc(50% - 1em);

	@include larger-than(large) {
		width: calc(25% - 1em);
	}
}
