.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include larger-than(medium) {
    flex-direction: row;
    justify-content: center;
  }
}

.testimonial-img {
  flex: 1 0 auto;
}
